/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap-grid.min.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(270deg, rgba(255, 116, 116, 0.00) 0%, rgba(58, 18, 18, 0.53) 59%, rgba(43, 10, 10, 0.76) 100%),  url("./assets/images/background.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

:root {
  --primary-color: #0B3C5D;
  --secondary-color: #0B3C5D;
  --text-dark: #0f172a;
  --text-light: #94a3b8;
  --white: #ffffff;
  --max-width: 1400px;
}
